
.categori_item
{
  display: flex;
  height: 500px;
  width: 400px;
  float: left;
  margin-left:20px;
}
.item_panel
{
        position:relative;
}
.item_img
{
        position:absolute;
}
.cat_item_text
{
  color: #F1C26D;
  text-shadow:
    0 0 5px #FFF,
    0 0 55px #F19931,
    0 0 75px #F19931,
   -1px -1px 2px #000,
    1px -1px 2px #000,
   -1px 1px 2px #000,
    1px 1px 2px #000;
   position:absolute;
   margin-left: 150px;
   margin-top: 17px;
}

.content_row
{
  display: block;
  width: 80%;
  height: 500px;
  margin-top: 5%;
  margin-left: auto;
  margin-right:auto;
}




#content
{
text-align: center;
margin: 10% 50px 50px 15%;
background-color: rgba(0, 0, 0, 0.5);
border-radius: 25px;
min-height: 1500px;

}




.ContentHeader
{
  margin-top: 250px;
  font-size: 35px;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #130402;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 0px 0px 20px rgba(23,18,18,0.03);
  color: #1E1717;
}

.mainspan {
  font-size: 24px;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #130402;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 0px 0px 20px rgba(23,18,18,0.03);
  color: #1E1717;
}

.main
{
  display: flex;
  flex-direction: column;
}
